pandas~=2.2.3
numpy~=2.0.2
matplotlib~=3.10.0
seaborn~=0.13.2
plotly~=6.7.0
scikit-learn~=1.6.0
xgboost~=3.0.4
shap
streamlit~=1.57.0
joblib~=1.4.2
pyspark~=4.1.1
keras~=3.11.3
keras-nightly~=3.7.0.dev2024122203
scipy~=1.14.1
h2o~=3.46.0.7
tensorflow~=2.20.0
kneed~=0.8.5
transformers~=4.56.1